@model CommentRequestVm



<div class="form-group mt-2 text-center">
   
    <input asp-for="Description" class="form-control w-50 mx-auto" placeholder="give your answer" /> 
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="text-center">
    <input type="submit" class="btn btn-primary mt-2" value="Comment" />
</div>


