@model IEnumerable<CommentResponseVm>

<div class="container mt-3">
   
    @if (Model.Any())
    {
        <div class="list-group mb-5">
            @foreach (var comment in Model)
            {
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1 text-secondary">&#64;@comment.CommentorName</h6>
                        <small class="text-primary">@comment.CreatedAt</small>
                    </div>
                    <p class="mb-1">@comment.Description</p>
                </div>
            }
        </div>
    }
    else
    {
        <h4 class="text-center text-danger">No comments available.</h4>
    }
</div>
