@model CommentRequestVm



        <div class="form-group mt-2">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" placeholder="Enter title" />
            <span asp-validation-for="Description" class="text-danger"></span>

        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary mt-2" value="Comment" />
        </div>

