
@model QuestionResponseVm


    
        <h5 class="card-title text-success">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <small class="mt-1 text-primary">Created time : @Model.CreatedAt</small><br>

    

