@model QAMS.ServiceLayer.ClientEntity.question.QuestionRequestVm
@{
    Layout = "_StudentLayout";
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobPortal.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
      <h1>hello</h1>
</body>
</html>