@model QAMS.DataAccessLayer.Helper.PaginatedList<QAMS.DataAccessLayer.ResponseVm.question.QuestionResponseVm>
@{
    Layout = "_StudentLayout";
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobPortal.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    
        @foreach (var item in Model.Items)
        {
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                     <small class="mt-1">Created time : @item.CreatedAt</small><br>
                    <a href="@Url.Action("GetById", "Student", new { id = item.Id })" class="btn btn-primary mt-2">View</a>
                </div>
            </div>
        }

   <partial name ="_paging" />
   
</body>
</html>