@model QAMS.DataAccessLayer.ResponseVm.question.QuestionResponseVm
@{
    Layout = "_StudentLayout";
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobPortal.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>

    
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
                <small class="mt-1">Created time : @Model.CreatedAt</small><br>
                
            </div>
        </div>
   
        <hr class="mt-5 mb-5" />
</body>
</html>