@model QuestionAndCommentVm
@{
    Layout = "_StudentLayout";
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobPortal.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>

   
    
       <partial name = "_QuestionCard"model = "@Model.Question"/>
   
       
        <h3 class="text-center bg-dark text-light py-1 mt-3">comments</h3>
        
        @if (Model.Question.IsCommentBoxActivate)
        {
            <form method="post" asp-controller="Student" asp-action="Comment">
               
                <input name ="QuestionId" type = "hidden" value="@Model.Question.Id">
                <partial name ="_commentBox" model = "Model.CommentRequestVm" />
            
           </form>
        }
      <div>
        <partial name="_CommentList" model="Model.Comments" />
     </div>
</body>
</html>